<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.CouponMapper">

<select id="selectCouponList" resultType="org.zerock.domain.Coupon">
	select
	id,
	cname,
	code,
	ctype,
	value
	cond,
	regidate,
	enddate,
	status
	from coupon
</select>

<select id="selectOneCoupon" resultType="org.zerock.domain.Coupon">
	select
	id,
	cname,
	code,
	ctype,
	value
	cond,
	regidate,
	enddate,
	status
	from coupon where id=#{id}
</select>

<insert id="insertCoupon" parameterType="org.zerock.domain.Coupon">
	insert into coupon(code, ctype, value, cond, enddate)
	values(#{code}, #{ctype}, #{value}, #{cond}, #{enddate})
</insert>

<update id="updateCouponStatus" parameterType="org.zerock.domain.Coupon">
	update coupon
	set
	ctype=#{ctype},
	cond=#{cond},
	status=#{status},
	enddate=#{enddate}
	where id=#{id}
</update>

<delete id="deleteCoupon">
	delete from coupon where id=#{id}
</delete>

</mapper>