<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.GoodsImageMapper">
 
 	<insert id="insert">
 		insert into goodsImage (image_no, goods_no, imagepath, uuid) values (#{ino},#{gno},#{imagepath}, #{uuid})
 	</insert>
 	
 	<delete id="delete">
 		delete from goodsImage where uuid = #{uuid}
 	</delete>
 	
 	<select id="findByGno" resultType="org.zerock.domain.GoodsImage">
 		select * from goodsImage where goods_no = #{gno}
 	</select>
 
</mapper>