<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.GoodsImageMapper">
 
 <insert id="insert" parameterType="org.zerock.domain.GoodsImage">
   <selectKey keyProperty="ino" resultType="int" order="BEFORE">
      SELECT IFNULL(MAX(image_no)+1,1) FROM goodsImage
   </selectKey>
   INSERT INTO goodsImage (goods_no, imagepath, uuid)
   VALUES (
      #{gno}, 
      #{imagepath},
      #{uuid}
   )
</insert>
 	
 	<delete id="delete">
 		delete from goodsImage where uuid = #{uuid}
 	</delete>
 	
 	<select id="findByGno" resultType="org.zerock.domain.GoodsImage">
 		select * from goodsImage where goods_no = #{gno}
 	</select>
 
</mapper>