<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GoodsMapper">

<select id="selectOneItem" resultType="org.zerock.domain.Goods">
	select
	goods_no as gno,
	category,
	pname,
	price,
	skintype,
	regidate,
	updatedate,
	stock,
	status,
	imagepath,
	originalPrice,
	discountPrice,
	uuid
	from goods where goods_no = #{gno}
</select>

<select id="selectListByCategory" resultType="org.zerock.domain.Goods">
	select
	goods_no as gno,
	category,
	pname,
	content,
	price,
	skintype,
	regidate,
	updatedate,
	stock,
	status,
	imagepath,
	originalPrice,
	discountPrice,
	uuid
	from goods where category = #{category} 
</select>

<select id="selectListByCateAndSkin" resultType="org.zerock.domain.Goods">
	select
	goods_no as gno,
	category,
	pname,
	content,
	price,
	skintype,
	regidate,
	updatedate,
	stock,
	status,
	imagepath,
	originalPrice,
	discountPrice,
	uuid
	from goods where category=#{category} and skintype=#{skintype}
</select>

<!-- <insert id="insertItem" parameterType="org.zerock.domain.Goods" >

	insert into goods(category, pname, price, skintype, stock, status)
	values(#{category}, #{pname}, #{price}, #{skintype}, #{stock}, #{status}) 

</insert> -->

<update id="updateItem" parameterType="org.zerock.domain.Goods" >
	update goods set category=#{category}, pname=#{pname}, sellPrice=#{sellPrice}, originalPrice=#{originalPrice},
	discountPrice=#{discountPrice},content=#{content},imagepath=#{imagepath},
	skintype=#{skintype}, stock=#{stock}, status=#{status},uuid=#{uuid} where goods_no=#{gno}
</update>

<delete id="deleteItem">
	delete from goods where goods_no = #{gno}
</delete>
<!-- 
<select id="selectImageList" resultType="org.zerock.domain.Goods">
	select * from goodsImage where goods_no = #{gno}
</select>
 -->
 
<insert id="insertItem" parameterType="org.zerock.domain.Goods">
   <selectKey keyProperty="gno" resultType="int" order="BEFORE">
		SELECT IFNULL(max(goods_no)+1,1) FROM goods
   </selectKey>
   INSERT INTO goods (category, pname, content, sellPrice, skintype, stock, status, imagepath, originalPrice, discountPrice, uuid)
   VALUES ( 
   		#{category},
   		#{pname},
   		#{content},
   		#{sellPrice},
   		#{skintype},
   		#{stock},
   		#{status},
   		#{imagepath}
      #{originalPrice}, 
      #{discountPrice},
      #{uuid}      
   )
</insert>

<select id="getGoodsNo" resultType="int">
	select max(goods_no) from goods
</select>

	<select id="goodsList" resultType="org.zerock.domain.Goods">
		select 
			*,
			(select imagepath from goodsImage i where g.goods_no = i.goods_no limit 1) as imagepath	
		 from goods g
	</select>
<update id="updateFilePath" parameterType="org.zerock.domain.Goods">
	update goods set imagepath=#{imagepath}, uuid=#{uuid} where goods_no = #{gno}
</update>
</mapper>