<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">

	<select id="selectMemberaslogin" parameterType="org.zerock.domain.Member" resultType="org.zerock.domain.Member">
		
		select * from member where id=#{id} and pwd=#{pwd}
		
	</select>
	
	<select id="selectMember" resultType="org.zerock.domain.Member">
		
		select * from member where id=#{id}
		
	</select>
	
	<insert id="insertMember" parameterType="org.zerock.domain.Member">
		insert into member(name, id, pwd, pnum, email)
		values(#{name}, #{id}, #{pwd}, #{pnum}, #{email})
	</insert>
	
	<update id="updateMember" parameterType="org.zerock.domain.Member">
		update member set pwd=#{pwd}, pnum=#{pnum}, email=#{email} where id=#{id}
	</update>
	
	<delete id="deleteMember">
		delete from member where id=#{id}
	</delete>

</mapper>