<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">
	 
	<resultMap type="org.zerock.domain.Member" id="memberMap">
		<id property="mem_id" column="mem_id" />
		<result property="mem_id" column="mem_id" />
		<result property="name" column="name" />
		<result property="pwd" column="pwd" />
		<result property="pnum" column="pnum" />
		<result property="email" column="email" />
		<result property="grade" column="grade" />
		<result property="regidate" column="regidate" />
		<result property="updatedate" column="updatedate" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	 
	<resultMap type="org.zerock.domain.Authority" id="authMap">
		<result property="mem_id" column="mem_id"/>
		<result property="auth" column="auth"/>
	</resultMap>
	 
	<select id="selectMemberaslogin" resultMap="memberMap">
		select
		mem.mem_id,
		name,
		pwd,
		pnum,
		email,
		grade,
		regidate,
		updatedate,
		status,
		auth
		from member mem LEFT JOIN authority auth on mem.mem_id = auth.mem_id
		where mem.mem_id=#{username}
	</select>

	<select id="selectMember" resultType="org.zerock.domain.Member">
		select
		mem_id as id,
		name,
		pwd,
		pnum,
		email,
		grade,
		regidate,
		updatedate,
		status
		from member where mem_id=#{id}
	</select>
	
	<insert id="insertMember" parameterType="org.zerock.domain.Member">
		insert into member(mem_id, name, pwd, pnum, email)
		values(#{mem_id}, #{name}, #{pwd}, #{pnum}, #{email})
	</insert>
	
	<insert id="insertAuth" parameterType="org.zerock.domain.Authority">
		insert into authority (mem_id, auth)
		values (#{mem_id}, #{auth})
	</insert>
	
	<update id="updateMember" parameterType="org.zerock.domain.Member">
		update member set pwd=#{pwd}, pnum=#{pnum}, email=#{email} where mem_id=#{mem_id}
	</update>
	
	<delete id="deleteMember">
		delete from member where mem_id=#{mem_id}
	</delete>

</mapper>