<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="org.zerock.mapper.MenuMapper">
 	<select id="selectMenuList" parameterType="String" resultType="org.zerock.menu.MenuVO">
 		select 
 			menu_cd as menuCd,
 			menu_name as menuName,
 			menu_url as menuUrl,
 			IF(menu_cd = #{menuCd},1,0) as check1
 		from menu
 		
 	</select>
 
 </mapper>