@charset "UTF-8";

.content {
	width: 1200px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px
		0px 1px 0px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 20px;
	padding: 24px 24px 16px;
}

.content-head {
	height: 28px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.update-date {
	display: inline-block;
	width: 50%;
	height: 28px;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: -0.5px;
	color: rgb(17, 17, 17);
}

.head-data {
	text-align: right;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.5px;
	color: rgb(52, 106, 255);
	display: inline-flex;
	vertical-align: middle;
	position: relative;
	width: auto;
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.head-text {
	height: 16px;
	line-height: 1;
	margin: auto;
	font-family: 나눔고딕, nanumgothic, 돋움, dotum, sans-serif;
}

.card {
	border-radius: 8px;
	border: 1px solid rgb(238, 238, 238);
	background-color: rgb(255, 255, 255);
	margin-top: 16px;
}

.tablerow {
	height: 100%;
	padding: 20px;
	vertical-align: top;
}

.gbTJl {
	width: 200px;
	height: 100%;
	text-align: center;
	border-left: 1px solid rgb(238, 238, 238);
}

.bCQoer {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 20px;
}

.fUUUKW {
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	padding-left: 12px;
	padding-right: 12px;
	user-select: none;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	appearance: none;
	height: 2.25rem;
	width: 100%;
	border-radius: 4px;
	color: rgb(52, 106, 255);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(52, 106, 255);
	-webkit-tap-highlight-color: rgba(52, 106, 255, 0.1);
	font-size: 0.875rem;
}

.iiEWkt {
	min-height: 2.25rem;
	font-size: 0.875rem;
	width: 160px;
	margin: 5px 0px;
}

.gcWEbw {
	margin-top: 10px;
}

.left-head {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
}

.left-data {
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    line-height: 1.5;
}

.SWzAJ {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4px;
    height: 1em;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
}
.font-size125 {
    font-size: 1.25rem;
}
.font-green {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(0, 140, 0);
}

.text-form {
    user-select: none;
    overflow: hidden;
    flex: 1 1 0%;
    display: flex;
}
.margin-top:first-child {
    margin-top: 20px;
}
.margin-top {
    margin-top: 16px;
}

.order-data {
    display: flex;
    flex-direction: row;
}

.image-form {
    display: flex;
    width: 64px;
    position: relative;
    margin-right: 16px;
}
.yma-DD {
    display: flex;
    line-height: 1.5;
}
.yma-DD:not(:last-child) {
    margin-bottom: 4px;
}

.iDQVMP {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.kftgZM {
    font-size: 1rem;
    font-weight: normal;
}

.iCTfhh {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    appearance: none;
    height: 2.25rem;
    border-radius: 4px;
    color: rgb(17, 17, 17);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    -webkit-tap-highlight-color: rgba(52, 106, 255, 0.1);
    font-size: 0.875rem;
}
.bZaQeF {
    min-height: 2.25rem;
    padding: 0px 12px;
}

.kiiuoA {
    min-height: 2.25rem;
    font-size: 0.875rem;
    width: 160px;
    margin: 4px 0px;
}

.fTrGbC {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    appearance: none;
    height: 2.25rem;
    width: 100%;
    border-radius: 4px;
    color: rgb(17, 17, 17);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    -webkit-tap-highlight-color: rgba(52, 106, 255, 0.1);
    font-size: 0.875rem;
}