@charset "utf-8";

#myTabContent2 .review ul {
	padding: 10px;
	box-sizing: border-box;
	list-style-type: none;
}

#myTabContent2 .review ul>li {
	padding-top: 16px;
	border-bottom: 1px solid #ececec;
	box-sizing: border-box;
	width:80%;
}

#myTabContent2 .review ul>li>div {
	overflow: hidden;
}

#myTabContent2 .review ul>li>div span {
	float: right;
	color: #555;
}

#myTabContent2 .review ul>li>div h5 {
	float: left;
}


#myTabContent2 .review ul>li h3 {
	color: #555;
	margin-top: 6px;
	text-align: left;

}

#myTabContent2 .review ul>li p {
	text-align:left;
	width: 100%;
	color: #555;
	font-size: 14px;
	line-height: 19px;
	word-break: break-all;
	word-wrap: break-word;
	margin-top: 10px;
}

#myTabContent2 .review .paging {
	width: 100%;
	padding: 30px 0;
	text-align: center;
}

#notice .notice {
	margin: 20px 0;
	padding: 21px 26px 20px 19px;
	line-height: 20px;
	font-size: 14px;
	color: #757c8a;
	background: #fafafa;
	border-radius: 2px;
	white-space: normal;
}

#myTabContent2 .review .paging span a {
	color: #777;
	font-size: 11px;
	letter-spacing: -1px;
}

#myTabContent2 .review .paging .num a {
	display: inline-block;
	min-width: 14px;
	margin: 0 2px;
	padding: 8px 9px;
	border: 1px solid #c4c4c4;
	color: #000;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}

#myTabContent2 .review .paging .num a.on {
	color: #fe434c;
	font-weight: bold;
}


#myTabContent2 > .list > table .rating {
    margin-top: 12px;

}

#myTabContent2 h5.rating {
	width: 150px;
	height: 20px;
	font-size: 0px;
	background-image: url(../img/ico_rating_star.png);
	background-repeat: no-repeat;
	background-position: 36px 0px;
	text-indent: 86px;
}


#myTabContent2 h6.rating {
    font-size: 11px;
    background-image: url(../img/rating_star.png);
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}

#myTabContent2 h5.rating.star1 { width: 55px; }
#myTabContent2 h5.rating.star2 { width: 55px; }
#myTabContent2 h5.rating.star3 { width: 55px; }
#myTabContent2 h5.rating.star4 { background-position: 0 -160px; }
#myTabContent2 h5.rating.star5 { background-position: 0 -160px; }


#myTabContent2 h6.rating.star1 { width: 51px; }
#myTabContent2 h6.rating.star2 { width: 67px; }
#myTabContent2 h6.rating.star3 { width: 81px; }
#myTabContent2 h6.rating.star4 { width: 96px; }
#myTabContent2 h6.rating.star5 { width: 120px; }


#myTabContent2 fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
    float: left;
}
#myTabContent2 fieldset legend{
    text-align: left;
}
#myTabContent2 input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myTabContent2 label{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myTabContent2 input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
